// Variables to modify font folders
$primary:#a51e37;
// $font-size-base: 16px;
$navbar-default-color:             #777 !default;
$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif !default;
$navbar-default-bg:   #0a293e !default;
// $navbar-default-color:             #fff !default;
// $navbar-default-link-color:                red !default;
// $navbar-default-link-active-bg:          $navbar-default-bg !default;
// $navbar-default-link-active-color:          #fff !default;
// $navbar-default-link-hover-color:          #9bcff3 !default;
$link-color:            $primary !default;
// $link-hover-color:      $link-color ;

$icon-font-path:      "/fonts/bootstrap";
// $fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default;
$fa-font-path:        "/fonts/font-awesome";


// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap/bootstrap";

@import "font-awesome/font-awesome";

.primary-bg{
    background-color:$primary;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.word-cloud {
    a{

        color:$gray-400;
        font-size:30px;
        padding-right:1rem;

    }
    a:hover{
        text-decoration: none;
        color:$gray-600;
    }
}

.nav-border{
    border-bottom: 1px solid $primary;
}

.header {
    // border-top: 3px solid $primary;
    background: $gray-800;
    // background: $primary;
    color: rgba(256, 256, 256, 0.85);

    // padding: 30px 0;
    margin-top:3rem;
    margin-bottom:2rem;
    padding: 60px 10%;
    a {
        color: #fff;
    }
    .container {
      position: relative;
    }

    h1{
        font-size: 38px;
            margin-top: 0;
            margin-bottom: 0;
            color:white;
    }
}



code {
    // background: #222;
    // background: #272822;
    background: #2b303b;;
    // color: $primary;
    font-size: 14px;
    font-weight: bold;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    padding:2px 8px;
    padding-top: 4px;
    display: inline-block;
    color:$primary;
    background-color: lighten($primary, 58);

}



.highlight pre{
    border-radius: 5px;
    width:100%;

    padding: 0;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.15);
    border-radius: 3px;
    overflow-x: hidden;
    margin: 20px 0;
    background: #2b303b;
    color: #eff1f5;
        padding: 13px 33px 13px 15px;
        display: block;
    code{
        width:100%;
        color: white;
        // padding: 13px 33px 13px 15px;
        color: inherit;
        overflow-x: auto;
        background: transparent;
    }
}

h1,h2,h3,h4{
    margin-top:2rem;
}

.bd-toc {
    .title{
        padding-left: 1rem;
        color:$gray-600;
        font-weight:bold;
    }
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    height: calc(100vh - 5rem);
    overflow-y: auto;
    border-right: 1px solid #eee;

}

#TableOfContents{
    padding-right: 0;

    ul {
        padding-left: 1rem;
        list-style-type: none;
    }

    li{
        display: block;
        list-style-type: none;

        ul{
            list-style-type: none;
        }
    }
}


.doc-header {
    margin-top: 6rem;
    margin-bottom: 30px;
    .doc-title {
        color: $primary;
        margin-top: 0;
        font-size: 36px;
    }
    .icon {
        font-size: 30px;
    }
    .meta {
        // color: $grey;
    }
}


main{
    margin-bottom:10rem;
}

.screenshot-holder {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    img {
        border: 1px solid $primary;
    }
    .mask {
        display: block;
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.25);
        cursor: pointer;
        text-decoration: none;
        .svg-inline--fa {
            color: #fff;
            font-size: 42px;
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -21px;
            margin-top: -21px;

        }
    }
    &:hover {
        .mask {
            visibility: visible;
        }
    }
}


blockquote{
    background-color: #0E97EE;
    border: 2px solid #2187BB;
    border-radius: 5px;
    color: #ffffff;
    font-style: italic;
    padding: 10px 20px;
    padding-top:20px;
}



h1, h2, h3{
    color:$primary;
}

@import "pygments";